<table class="uk-table">
  <thead>
    <tr>
      <th>Cars Count</th>
      <th>Average Hourly Price</th>
      <th>Average Daily Price</th>
      <th>Average Weekly Price</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @cars_count %></td>
      <td>￥<%= @cars_average_price_hourly %></td>
      <td>￥<%= @cars_average_price_daily %></td>
      <td>￥<%= @cars_average_price_weekly %></td>
    </tr>
  </tbody>
</table>
