<!DOCTYPE html>
<html>
<head>
  <title>Ppcars</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="uk-navbar">
      <a href="" class="uk-navbar-brand">PPCars</a>
  </nav>

<%= yield %>

</body>
</html>
